

html {
    font-family: 'MyFont', sans-serif;
    font-size: 22px;
}
/* 适配高分辨率屏幕（一般为 Retina 屏幕，分辨率为 192dpi 或更高） */
@media only screen and (min-resolution: 192dpi) {
    html {
        font-size: 24px; /* 增加字体大小 */
    }
}

/* 适配超高分辨率屏幕（例如 4K 屏幕，分辨率为 384dpi 或更高） */
@media only screen and (min-resolution: 384dpi) {
    html {
        font-size: 26px; /* 更大字体 */
    }
}
.poem-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 默认 3 列 */
    gap: 2rem;
    padding: 3rem;
}

/* 小屏幕：2列 */
@media (max-width: 1440px) {
    .poem-container {
        grid-template-columns: repeat(2, 1fr) !important;
        /*background: pink; !* 测试是否生效，可删 *!*/
    }
}

/* 超小屏幕：1列 */
@media (max-width: 600px) {
    .poem-container {
        grid-template-columns: 1fr !important;
        /*background: lightblue; !* 测试用，可删 *!*/
    }
}

body{
    font-family: 'MyFont', sans-serif;
    background: repeating-linear-gradient(
            to right,
            #f0f0f0,
            #f0f0f0 2px,
            #ffffff 1px,
            #ffffff 4px
    );
}
/* 轮播图 */
.carousel-container {
    /*width: 80%;           !* 缩小宽度为 80%  *!*/
    --carouselWidth: 25rem;
    max-width: var(--carouselWidth);
    height: calc(var(--carouselWidth) * 34.61 / 25);
    margin: auto auto;
    overflow: hidden;
    position: relative;
}


.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-slides img {
    max-height: 100%;      /* 高度最多等于容器高 */
    max-width: 100%;       /* 宽度最多等于容器宽 */
    /*width: 100%;*/
    margin: auto;          /* 水平垂直居中 */
    object-fit: cover;   /* 等比缩放 */
    flex-shrink: 0;
    display: block;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
}

.prev-btn {
    left: 0.5rem;
}

.next-btn {
    right: 0.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.logo{
    max-width: 8rem;
}
header,.content,.medium{
    width: 60%;
    margin: auto;
}
.medium{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*max-width: 60%;*/
    margin: auto;
}
.medium-content{
    padding: 1rem;
}


.poem {
    min-width: 0; /* 避免内容撑爆容器 */
    max-width: 100%;
}
footer{
    margin: auto;
    text-align: center;
}
.content{
    font-family: 'MyFont', sans-serif;
}